:root {
    --main-bg-color: #ebdfd4;
    --accent-color-1: #9dcdaa;
    --accent-color-1-dark: #468973;
    --accent-color-2: #d1e5e3;
    --accent-color-2-dark: #456f7e;
    --accent-color-3: #cb0624;
    --seperator-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
}

.navbar {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

span {
    display: inline-flex;
    align-items: center;
}

div.site-name {
    float:left;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 5px;
}
.menu {
    float:right;
    display: inline-block;
    box-sizing: border-box;
    list-style: none;
    top: 50%;
    transform: translateY(50%);
    margin-right: 5px;
}
